@tailwind base;
@tailwind components;
@tailwind utilities;


.open-modal {
    transform: translateY(0);
    transition: transform 0.9s ease-in-out;
  }
  
  .close-modal {
    transform: translateY(100%);
    transition: transform 0.9s ease-in-out;
  }
  
  
  .no-scrollbar::-webkit-scrollbar {
    display: none; /* Hide scrollbar in Chrome, Safari, and Edge */
  }
  
  .no-scrollbar {
    -ms-overflow-style: none; /* Hide scrollbar in IE and Edge */
    scrollbar-width: none; /* Hide scrollbar in Firefox */
  }
  
